<h1> Bonjour <%= @user.name %> </h1>
<p> Une nouvelle offre a été mise en ligne par un de  vos  voisins. <p>

 <div class="container">
    <div class='card card-signin my-5'>
        <div class='card-body'>
            <span><b> Offre de :</b> <%= User.find(@offer.user_id).name %></span>
            <br>
            <span><b> Livraison prévu :</b> <%= @offer.end.strftime('%d/%m/%y à %H:%M').to_s %></span>
            <br>
            <span><b> Adresse de départ :</b> <%= @offer.address %></span>
            <br>
            <span><b> De la place  pour:</b> <%= @offer.description %></span>
            <br>
            <div class="text-center">
                <%= html="<a class ='btn btn-primary' href='shopforyou.herokuapp.com/deliveries/search/#{@offer.address}'>Voir l'offre sur le site </a>".html_safe %>
            </div>
        </div>
    </div>
 </div>