<% content_for :title, "ShopForYou !" %>
<div id="homeBg" class="text-center">
    <div class="container" id="homeContent">
        <p id="homeText">Vos courses livrées par votre voisin!</p>
        <div class="container form-inline justify-content-center ">
            <%= form_tag "/deliveries/search", method: :get do %>
                <input type="text" class="form-control"  placeholder="Saisissez votre adresse" name="adress" required>
                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
            <% end %>  
        </div>
    </div>
</div>


                
                