<% content_for :title, "Login" %>

<div id="loginBg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Connexion</h5>
            <%= form_tag "/users/login", method: :post do %>
            
            <div class="form-group">
                <label for="mail">Adresse mail:</label><br/>
                <input type="text" class="form-control" name="mail" /> <br>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label><br/>
                <input type="password" class="form-control" name="password" /> <br>
            </div> 
            <div  class="text-center">
              <input type="submit" class="btn btn-primary" value="Se connecter" /> <br>
            </div>
            <% end %>
            <hr class="my-4">
            <div class="form-group text-center">
              <p>Je ne suis pas enregistré sur ShopForU</p>
              <a class ="btn btn-primary" href="/users/signup"> M'enregistrer </a>
              Ou
              <a class="btn btn-primary" href="/"> Retour à l'accueil </a>
            </div>
            <!-- Facebook/Google login pour plus tard
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>

              -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>