<% content_for :title, "Profil de "+ @user.name %>
<% session[:return_to] ||= request.referer %>
<div id="profileBg">
<br>
    <div class="container">
        <div class="jumbotron">
            <p class="lead">
                <a  href="/users/return" role="button"><i class="fas fa-arrow-alt-circle-left">Retour</i></a>
            </p>
            <div class="row">
                <div class="col-sm">
                    <img src="<%=@user.image %>" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-sm">
                    <h1 class="display-4"><%= @user.name%></h1>
                    <p class="lead">Description</p>
                    <hr class="my-4">
                    <p><b>Membre depuis:</b> <%= @user.register %></p>
                    <p><b>Nombre d'offres:</b> <%= @nbOffers %> </p>
                </div>
            </div>
        </div>
    </div>
</div>