<% content_for :title, "Inscription" %>

<div id="signUpBg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Inscription</h5>
            <%= form_tag "/users/signup", method: :post do %>
              <div class="form-group">
                <label for="name">Pseudo:</label>
                <input class="form-control" type="text" name="name" required/> 
              </div>
              <div class="form-group">
                <label for="mail">Mail:</label>
                <input class="form-control" type="email" name="mail" required/> 
              </div>
              <div class="form-group">
                <label for="mail">Votre adresse (optionnelle):</label> 
                <input class="form-control" type="text" name="address"/> 
              </div>
              <div class="form-group">
                <label for="password">Mot de passe:</label>  
                <input class="form-control" type="password" name="password" required/> 
              </div>
              <div class="form-group">
                <label for="passwordCheck">Vérification mot de  passe:</label> 
                <input class="form-control" type="password" name="passwordCheck" required/>
              </div>
              <div class="text-center">
                <input class="btn btn-primary" type="submit" value="M'inscrire!" />
              </div>
              
            <% end %>
            <hr class="my-4">
            <div class="text-center">
              <p>Je suis déjà inscrit!</p>
              <a class ="btn btn-primary" href="/users/login"> Me connecter </a>
              Ou
              <a class="btn btn-primary" href="/"> Retour à l'accueil </a>
            </div>
            <!-- Facebook/Google login pour plus tard
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>

              -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>