<% content_for :title, "Contact" %>

<div class="container">
    <div class="jumbotron">
        <% if @blocked %>
            <div class="alert alert-danger" role="alert">
                <center>Vous avez bloqué cet utilisateur</center>
            </div>
        <%end%>
        <% if @current_user.id == @livreur.id %>
            <h2>Communication avec un voisin  </h2>
            <%=block(@livreur,@voisin,params[:id]) %>       
           
        <% else %>
            <h2>Communication avec le livreur: <%= @livreur.name %>  </h2>  
            <%=block(@voisin,@livreur,params[:id]) %>  
        <% end %>
        
        
        <div class="jumbotron" id="chat">
            <% @messages.each do |the_message| %>
                    <div class="row">
                        <%=message the_message %>
                    </div>
            <% end %>

        </div>
        <%= form_tag "/deliveries/sendMessage/#{params[:id]}", method: :post do %>         
            <div class="form-group">
                <label for="end">Envoyer un message:</label> <br>
                <input class="form-control" type="text" name="content"/>
            </div>         
            <div class="text-center">
                 <% if @blocked %>
                    <input class="btn btn-primary" type="submit" value="Envoyer" disabled/>   
                 <% else%>
                    <input class="btn btn-primary" type="submit" value="Envoyer" />
                 <% end %>
                 
            </div>
        <% end %> 
    </div>
    
</div>


