<% content_for :title, "Proposer une livraison" %>

<div id="deliveryBg" >
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Livrer un voisin!</h5>
                        <%= form_tag "/deliveries/create", method: :post do %>
                        <div class="form-group">
                            <label for="start">Heure de départ: (heure max à laquelle un voisin peut vous faire une demande)</label> <br>
                            <input class="form-control" type="date" name="start_day"  required />
                            <br>
                            <input class="form-control" type="time" name="start_time"  required />
                        </div>
                        <div class="form-group">
                            <label for="end">Heure de retour prévue</label> <br>
                            <br>
                            <input class="form-control" type="time" name="end_time"  required />
                        </div>
                        <div class="form-group">
                            <label for="address">Votre adresse</label> <br>
                            <input class="form-control" type="text" name="address" required />
                        </div>
                        <div class="form-group">
                            <label for="description">Que pouvez vous emporter ? </label> <br>
                            <div class="custom-control-inline">
                                <input class="form-control" type="radio" id="small" name="description" value="petites courses" checked>Petites courses </input>
                                <input class="form-control" type="radio" id="medium" name="description" value="moyennes courses" checked>Moyennes courses </input>
                                <input class="form-control" type="radio" id="large" name="description" value="grosses courses" checked> Grosses  courses </input>
                            </div>
                            
                            </textarea>
                        </div>

                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="Créer l'offre!" />
                        </div>
                        <% end %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


