<% content_for :title, "Mes offres" %>
<% session[:return_to] ||= request.referer %>
<div id="myOffersBg">
<br>
    <div  class="container">
        <div class="jumbotron">
            <p class="lead">
                <a  href="/users/return" role="button"><i class="fas fa-arrow-alt-circle-left">Retour</i></a>
            </p>
            <div class="container">
                <h2>Offres de livraisons:</h1>
                <% @offers.each do |the_offer| %>
                    <div class="container">
                        <div class="row">
                            <% if isExpired(the_offer)%>
                                <p style="color:red">(Offre expirée!)</p>
                            <% end %>
                            <p> Offre au départ de <%= the_offer.address %> :</p>
                        </div>
                        <div class="container">
                            <% theChats = Chat.where(offer_id: the_offer.id )%>
                            <% if (theChats.length == 0)%>
                                <p> Aucune personne ne s'est intéressée à l'offre, pour l'instant !</p>
                            <% end %>
                            
                            <% theChats.each do |the_chat| %>
                                <% if (the_chat.user_id != @current_user.id)%>
                                    <%=chat the_chat %>
                                <% end%>
                            <% end %>
                        </div>
                    </div>
                    <br>
                <% end %>
            </div>
            <div class="container">
                <h2>Demandes de livraisons:</h1>
                <div class="container">
                    <% @chats.each do |the_chat| %>
                        <div class="row">
                            <%=chat the_chat %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
