<% content_for :title, "Recherche" %>


<div id="searchBg">
  <div  class="container" id="search">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Votre adresse:<br> <%= @results.first.address %> </h5>
            <div class="container form-inline justify-content-center ">
              <p>Pas la bonne adresse  ?</p>
              <%= form_tag "/deliveries/search", method: :get do %>
                  <input type="text" class="form-control"  placeholder="Saissiez votre adresse" name="adress" required>
                  <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
              <% end %>  
            </div>
          </div>
        </div>
      </div>
  </div>

      <div class="container" id="mapContainer" style="height:0px;width:0px;">
       <%=mapClose 3 %>
        <div  id="map">
      
        </div>
      </div>

  <div class="row" id ="offersContainer">
    <% @offers.each do |the_offer| %>
      <% if (the_offer.user_id && the_offer.address && the_offer.end)%>
        <div class="col">
          <%=offer the_offer %>
        </div>
      <% end %>
    <% end %>
  </div>

  
</div>


<script>

toggle_visibility= (latitude,longitude) => {
       var e = document.getElementById("mapContainer");
       var o = document.getElementById("offersContainer");
       var s = document.getElementById("search");
       var l = document.getElementById("link");
       if(e.style.display == 'block'){
          e.style.display = 'none';
          o.style.display = '';
          s.style.display = '';
          l.style.display = 'none';
       }
       else
       {
         e.style.width= "700px";
         e.style.width= "500px";
         uLat = <%= @lat %>
         uLon = <%= @lng %>
        
          initialise(uLat,uLon,latitude,longitude);
          e.style.display = 'block';
          o.style.display = 'none';
          s.style.display = 'none';
          l.style.display='block';
       }
    }

initialise= (uLat,uLon,lati,longi) => {

  var map = L.map('map').setView([uLat, uLon], 15);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoicjZ6IiwiYSI6ImNqdW1wejcxaTJjdXo0YXFqbTduMmhoNTkifQ.qSjjIv1jGAxYamfr0Yqw6w'
}).addTo(map);
var marker = L.marker([uLat, uLon]).addTo(map).bindPopup('Votre adresse').openPopup();
var newMarker = L.marker([lati, longi]).addTo(map).bindPopup('Adresse de départ du livreur').openPopup();
  
  
}
</script>
