@import "bootstrap";

#map {
  width: 600px;
  height: 400px;
}

#link {
  display: none;
  color: white;
}
#homeBg {
  background-image: image-url("background/spices.jpg");
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#searchBg {
  background-image: image-url("background/world.jpg");
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#deliveryBg {
  background-image: image-url("background/coffee.jpg");
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#loginBg {
  background-image: image-url("background/foodBasket.jpg");
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#signUpBg {
  background-image: image-url("background/tomatoes.jpg");
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#profileBg {
  background-image: image-url("background/table.jpg");
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#homeText {
  color: white;
  margin-top: 0%;
  font-size: 35pt;
  font-weight: bold;
}

#homeContent {
  margin-top: 15%;
}

#chat {
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}

.chatUser {
  font-weight: bold;
}
.chatTime {
  color: gray;
}
#notif {
  border-width: 5px;
  border-color: black;
  border-radius: 25px;
  text-align: center;
  background-color: rgb(119, 247, 252);
}

nav {
  background-color: #973548; //ba505a
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.fa-ban {
  color: red;
}
