<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'card' , media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <header>
    <nav class="navbar navbar-expand-md bg-faded navbar-light">
        <a class="navbar-brand" href="/">ShopForYou</a>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="/deliveries/create"><span class="btn btn-outline-light">Proposer une livraison </span></a>
          </div>
          <div class="navbar-nav">
          <% if @current_user %>
            <a class="nav-item nav-link" href="/deliveries/myOffers"><span class="btn btn-outline-light"><i class="fas fa-clipboard-list"> </i> Mes offres </span></a>
            <%= html="<a class='nav-item nav-link' href='/users/profile/#{@current_user.id}'><span class='btn btn-outline-light'><i class='fas fa-user'> </i> #{@current_user.name}</span></a>".html_safe %>
            
            <a class="nav-item nav-link" href="/users/logout"><span class="btn btn-outline-light"><i class="fas fa-sign-out-alt"></i>Se déconnecter</span></a> 
          <% else %>
            <a class="nav-item nav-link" href="/users/login"><span class="btn btn-outline-light"><i class="fas fa-sign-in-alt"></i>S'identifier</span></a>
            <a class="nav-item nav-link" href="/users/signup"><span class="btn btn-outline-light"><i class="fas fa-user-plus"></i>S'inscrire</span></a> 
          <% end %>   
          </div>
        </div>
    </nav>
  </header>
  <body>
    <div class="container" id="notif"><%= flash[:info] %></div>
    <%= yield %>
  </body>
</html>
